body,
p {
  margin: 0;
  font-family: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

.layout {
  display: grid;
  grid-template-rows: minmax(100vh, 100%);
  grid-template-columns: 300px 1fr;

  > nav {
    background: #1A191F;
    color: white;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    > img:first-child {
      margin: 24px 0 42px 0;
    }

    > ul {
      list-style: none;
      display: flex;
      flex-flow: column nowrap;
      flex: 10;
      gap: 12px;
      padding: 0;
      margin: 0;

      > li {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 16px;
        padding: 13px 16px 13px 0;
      }
    }
  }

  > main {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(auto, 60px));
    grid-template-columns: auto;
    padding: 42px;

    > h1 {
      white-space: nowrap;
    }

    > sub {
      color: #888;
    }

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-rows: repeat(auto-fill, minmax(auto, 60px));
      grid-template-columns: auto;

      > li {
        --border-width: 2px;
        --border-radius: 8px;

        display: grid;
        /* good example for subgrid: https://codepen.io/web-dot-dev/pen/NWezjXv */
        grid-template-columns: subgrid;
        grid-column: span 3;
        align-items: center;
        border-bottom: var(--border-width) solid #eee;
        border-top-color: transparent;
        padding: 6px;
        cursor: pointer;
        transition: background-color 0.25s ease-in-out, transform 0.1s ease-in-out;

        &:first-child {
          border-top-color: #eee;
          border-top-left-radius: var(--border-radius);
          border-top-right-radius: var(--border-radius);
        }

        &:last-child {
          border-bottom-left-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
          border-bottom: none;
        }

        &:hover,
        &.active {
          background-color: #e8e8e8;
      }

        > img {
          border-radius: 50%;
        }
      }
    }

    > dialog {
      position: fixed;
      display: block;
      top: 0;
      bottom: 0;
      left: auto;
      right: 0;
      width: 300px;
      height: auto;
      margin: 0;
      padding: 12px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      border: 3px dotted lightgrey;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      transition: transform 0.2s ease-in-out, box-shadow 0.75s ease-out;
      transform: translateX(100%);

      &[open] {
        transform: translateX(0);
        box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.5);
      }

      > .details__layout {
        position: relative;
        display: flex;
        flex-flow: column;
        padding: 0 2rem 2rem 2rem;

        > img {
          margin: 1rem 2rem;
          border-radius: 50%;
          box-shadow: 0px 0px 0px 0px blue;

          &.border-animate {
            animation: border-fade 0.3s ease-out;
          }
        }

        > .name {
          font-size: 2rem;
        }

        > .info {
          color: gray;
        }

        > .close {
          position: absolute;
          top: 1rem;
          right: 1rem;
          border-radius: 50%;
          border: none;
          padding: 0.5rem;
          background-color: #eaeaea;
          width: 2rem;
          height: 2rem;
          cursor: pointer;
          transition: background-color 0.25s ease-in-out;

          &:hover {
            background-color: #c8c8c8;
          }
        }
      }
    }
  }
}

@keyframes border-fade {
  0% {
    box-shadow: 0px 0px 0px 0px rgb(111, 178, 255);
  }

  100% {
    box-shadow: 0px 0px 5px 10px rgba(0, 119, 255, 0);
  }
}

@media screen and (max-width: 768px) {
  .layout {
    grid-template-columns: 200px 1fr;
  }
}